.filter-btn {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.filter-btn-text {
    display: inline-block;
    padding: 7px;
}

.filter-item {
    display: inline-block;

}

.color-active {
    display: inline-block;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}